.about {
  text-align: center;
  display: grid;
  margin-top: 3rem;
  @include xs {
    grid-template-rows: 1fr 1fr;
  }
  @include sm {
    grid-template-rows: 1fr 1fr;
  }
  @include md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  @include lg {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  @include xl {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
  }
  &__img {
    height: 70vh;
    border-radius: 5px;
    @include xs {
      height: 50vh;
      align-self: center;
      justify-self: center;
    }
    @include sm {
      height: 50vh;
      justify-self: center;
      align-self: center;
    }
    @include md {
      height: 50vh;
    }
    @include lg {
      height: 70vh;
    }
    @include xl {
      height: 70vh;
    }
  }
  &__text {
    align-self: center;
    padding: 2rem;
    @include xs {
      align-self: start;
    }
    @include sm {
      align-self: start;
    }
    @include md {
      align-self: center;
    }
    @include lg {
      align-self: center;
    }
    @include xl {
      align-self: center;
    }
  }
}