.order {
  margin-bottom: 1.45rem;
  font-size: 14pt;
  &__holder {
    &--label {
      margin-bottom: calc(1.45rem / 2);
      margin-top: calc(1.45rem / 2);
    }
    &--input {
      padding: .6rem 1.4rem .5rem .8rem;
      border-radius: .5rem;
      width: 200px;
      font-size: inherit;
      background-color: #f8b4c0;
      border: 2px solid #b1a6c8;
      -webkit-box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67); 
    }
    &--radioHold {
      margin-top: calc(1.45rem / 2);
    }
    &--span {
      padding: .6rem 1rem .5rem .8rem;
    }
    &--dropdown {
      padding: .6rem 1.4rem .5rem .8rem;
      width: 240px;
      box-sizing: border-box;
      font-size: inherit;
      border: 1px solid #aaa;
      border-radius: .5rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #f8b4c0;
      background-image: url('../../images/downArrow.svg'),
        linear-gradient(to bottom, #f8b4c0 0%,#f8b4c0 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7rem top 50%, 0 0;
      background-size: .65rem auto, 100%;
      border: 2px solid #b1a6c8;
      -webkit-box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67);
    }
    &--addInfo {
      width: 200px;
      padding: .6rem 1.4rem .5rem .8rem;
      height: 4rem;
      border-radius: .5rem;
      font-size: inherit;
      background-color: #f8b4c0;
      border: 2px solid #b1a6c8;
      -webkit-box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67);
    }
  }
  &__btnHldr {
    &--btn {
      padding: .6rem 1.4rem .5rem .8rem;
      border-radius: .5rem;
      width: 240px;
      background-color: #f8b4c0;
      border: 2px solid #b1a6c8;
      font-size: inherit;
      -webkit-box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 2px 6px 0 rgba(155,121,182,0.67);
    }
  }
}

.order > div {
  margin-top: 1.2rem
}

.orderContainer {
  display: grid;
  grid-template-rows: .1fr 1fr;
  &__title {
    align-self: end;
    justify-self: center;
  }
  &__form {
    justify-self: center;
  }
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid #f8b4c0 2px;
  &__title {
    text-rendering: optimizeLegibility;
    font-size: 20pt;
    padding-left: 1rem;
    font-weight: bolder
   }
   &__arrow {
    justify-self: end;
    margin-top: 2.53rem;
    padding-right: 1rem;
   }
}