.order {
  margin-bottom: 1.45rem;
  font-size: 14pt;
  &__holder {
    &--label {
      margin-bottom: calc(1.45rem / 2);
      margin-top: calc(1.45rem / 2);
    }
    &--input {
      padding: .6rem 1.4rem .5rem .8rem;
      border-radius: .5rem;
      width: 200px;
      font-size: inherit;
      background-color: #f8b4c0;
      border: 2px solid #9b79b6;
      -webkit-box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67); 
    }
    &--radioHold {
      margin-top: calc(1.45rem / 2);
    }
    &--span {
      padding: .6rem 1rem .5rem .8rem;
    }
    &--dropdown {
      padding: .6rem 1.4rem .5rem .8rem;
      width: 240px;
      box-sizing: border-box;
      font-size: inherit;
      border: 1px solid #aaa;
      border-radius: .5rem;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #f8b4c0;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #f8b4c0 0%,#f8b4c0 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7rem top 50%, 0 0;
      background-size: .65rem auto, 100%;
      border: 2px solid #9b79b6;
      -webkit-box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67);
    }
    &--addInfo {
      width: 200px;
      padding: .6rem 1.4rem .5rem .8rem;
      height: 4rem;
      border-radius: .5rem;
      font-size: inherit;
      background-color: #f8b4c0;
      border: 2px solid #9b79b6;
      -webkit-box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67);
    }
  }
  &__btnHldr {
    &--btn {
      margin-top: calc(1.45rem / 2);
      padding: .6rem 1.4rem .5rem .8rem;
      border-radius: .5rem;
      width: 240px;
      background-color: #f8b4c0;
      border: 2px solid #9b79b6;
      font-size: inherit;
      -webkit-box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67); 
      box-shadow: 0 7px 9px 0 rgba(155,121,182,0.67);
    }
  }
}

.orderContainer {
  display: grid;
  grid-template-rows: .1fr 1fr;
  &__title {
    align-self: end;
    justify-self: center;
  }
  &__form {
    justify-self: center;
  }
}

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid black 1px;
  &__title {
    text-rendering: optimizeLegibility;
    font-size: 20pt;
    padding-left: 1rem;
   }
   &__arrow {
    justify-self: end;
    margin-top: 2.53rem;
    padding-right: 1rem;
   }
}